# Compressed / archive files
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.deb
*.zip
*.tgz
*.sig
*.log
*.log.*

# Packages / build directories
pkg/
src/
dist/
build/
static/dist/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.*
.venv/
venv/
env/

# Flask
instance/
*.db
*.sqlite
*.sqlite3

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
